@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #0F1020;
    color: pink;
  }

  /* Estilo de la barra lateral */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Estilo del "thumb" o el control deslizante en la barra lateral */
  ::-webkit-scrollbar-thumb {
    background-color: #273043;
    border-radius: 5px;
  }
  
  /* Estilo del fondo de la barra lateral */
  ::-webkit-scrollbar-track {
    background-color: #1F2137;
  }

@layer components{
    .bgOpaque{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .margins{
        @apply outline outline-white outline-1 rounded-md
    }
    .flexAllCenter{
        @apply flex justify-center items-center;
    }
    /* Estilo de fuente */
    .txtPrincipal{
        font-family: 'Averia Libre', Helvetica, Arial, sans-serif;    
    }
    .txtSecondary{
        font-family: 'Bungee', cursive;
    }
    .txtThird{
        font-family: 'Roboto', sans-serif;
    }
    /* Tamaños de fuente */
    .txtSm{
        font-size:  calc(0.5em + 0.5vw);
        line-height: 1.2em;
    }
    .txtMd{
        font-size:  calc(0.5em + 0.7vw);
        line-height: 1.2em;
    }
    .txtLg{
        font-size:  calc(0.8em + 0.9vw);
        line-height: 1.2em;
    }
    .txtXl{
        font-size:  calc(1.3em + 1.5vw);
        line-height: 1em;
    }
    .txtXl2{
        font-size:  calc(1.5em + 1.8vw);
        line-height: 1em;
    }
    /* Backgorunds imagenes  */
    .bgMines{
        background-image: url(/GameBait/MineBait.jpg);
        transition: all;
    }
    .bgMemory{
        background-image: url(/GameBait/MemoryBait.jpg);
        transition: all;
    }
    .bgSnake{
        background-image: url(/GameBait/SnakeBait.jpg);
        transition: all;
    }

    .BoxPink{
        @apply outline outline-2 outline-white;
        background-color: rgba(232, 90, 232, .8);
        transition: 0.6s;
    }
    .BoxRed{
        @apply outline outline-2 outline-white;
        background-color: rgba(227, 40, 40, 0.8);
        transition: 0.6s;
    }
    .BoxYellow{
        @apply outline outline-2 outline-white;
        background-color: rgba(246, 230, 3, 0.933);
        transition: 0.6s;
    }
    /* Estilos de las cards de memoria */
    .card1{
        width: calc(100%/5);
        height: 40%;
    }
    .card2{
        width: calc(100%/7);
        height: 30%;
    }
    .card3{
        width: calc(100%/7);
        height: 23%;
    }
    /* Estilos de las cards giratorias */
    .cardFace{
        position: absolute;
        backface-visibility: hidden;
        overflow: hidden;
        transition: 1.5s;
        width: 100%;
        height: 100%;
        @apply outline outline-gray-400 outline-1 rounded-md;
    }
    .frontFace{
        transform: perspective(600px) rotateY(0deg);
        /* background-color: rgba(232, 90, 232, .8); */
        @apply bg-c_GrayBlue hover:bg-c_Pink
    }
    .backFace{
        transform: perspective(600px) rotateY(180deg);
        @apply bg-c_GrayBlue
    }
    .frontFlip{
        transform: perspective(600px) rotateY(180deg);
    }
    .backFlip{
        transform: perspective(600px) rotateY(360deg);
    }
    /* Estilos de las cards BuscaMinas */
    .card1Mines{
        @apply outline outline-2 outline-white;
        transition: 0.6s;
        width: calc(100%/5);
        height: calc(100%/5);
        margin: 1%;
    }
    .card2Mines{
        @apply outline outline-2 outline-white;
        transition: 0.6s;
        width: calc(100%/6);
        height: calc(100%/6);
        margin: 0.5%;
    }
    .card3Mines{
        @apply outline outline-2 outline-white;
        transition: 0.6s;
        width: calc(100%/7);
        height: calc(100%/7);
        margin: 0.5%;
    }
    /* Estilo para desactivar onClicks */
    .notClick{
        pointer-events: none;
    }
    /* Clases de formulario */
    .errorCamp{
        @apply shadow-red-600 border-red-600 !important;
    }
}